<div data-hook="modeler_order_type_form_fields">
  <%= f.field_container :order_type, :class => ['form-group'] do %>
    <%= f.label :order_type, Mes.t(:order_type) %>
    <%= f.text_field :order_type, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :description, :class => ['form-group'] do %>
    <%= f.label :description, Mes.t(:description) %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  <% end %>
</div>
