<div data-hook="modeler_low_yield_setting_form_fields">
  <%= f.field_container :step_code, :class => ['form-group'] do %>
    <%= f.label :step_code_id, Mes.t(:step_code) %>
    <%= f.select :step_code_id, options_for_select(Mes::StepCode.pluck(:name, :id), @low_yield_setting.step_code_id), { include_blank: true }, class: 'form-control' %>
  <% end %>

  <%= f.field_container :product, :class => ['form-group'] do %>
    <%= f.label :product_id, Mes.t(:product) %>
    <%= f.select :product_id, options_for_select(Mes::Product.pluck(:product_code, :id), @low_yield_setting.product_id), { include_blank: true }, class: 'form-control' %>
  <% end %>

  <%= f.field_container :order_type, :class => ['form-group'] do %>
    <%= f.label :order_type_id, Mes.t(:order_type) %><br>
    <%= f.select :order_type_id, options_for_select(Mes::OrderType.pluck(:name, :id), @low_yield_setting.order_type_id), { include_blank: true }, class: 'form-control' %>
  <% end %>

  <%= f.field_container :lower_limit, :class => ['form-group'] do %>
    <%= f.label :lower_limit, Mes.t(:lower_limit) %><br>
    <%= f.text_field :lower_limit, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :upper_limit, :class => ['form-group'] do %>
    <%= f.label :upper_limit, Mes.t(:upper_limit) %><br>
    <%= f.text_field :upper_limit, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :threshold_in_pass_number, :class => ['form-group'] do %>
    <%= f.label :threshold_in_pass_number, Mes.t(:threshold_in_pass_number) %><br>
    <%= f.text_field :threshold_in_pass_number, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :notification_email_group, :class => ['form-group'] do %>
    <%= f.label :notification_email_group, Mes.t(:notification_email_group) %><br>
    <%= f.text_field :notification_email_group, :class => 'form-control' %>
  <% end %>
</div>
