<div data-hook="modeler_factory_form_fields">
  <%= f.field_container :workflow_name, :class => ['form-group'] do %>
    <%= f.label :workflow_name, Mes.t(:workflow_name) %><br>
    <%= f.text_field :workflow_name, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :description, :class => ['form-group'] do %>
    <%= f.label :description, Mes.t(:description) %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  <% end %>
</div>
