<div data-hook="modeler_bin_code_form_fields">
  <%= f.field_container :bin_code, :class => ['form-group'] do %>
    <%= f.label :bin_code, Mes.t(:bin_code) %>
    <%= f.text_field :bin_code, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :bin_type, :class => ['form-group'] do %>
    <%= f.label :bin_type, Mes.t(:bin_type) %>
    <%= f.select :bin_type , options_for_select(Mes::BinCode.bin_types.keys, @bin_code.bin_type), {}, class: 'form-control' %>
  <% end %>

  <%= f.field_container :description, :class => ['form-group'] do %>
    <%= f.label :description, Mes.t(:description) %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  <% end %>
</div>
