<div data-hook="modeler_step_process_reject_form_fields">
  <%= f.field_container :step_code, :class => ['form-group'] do %>
    <%= f.label :step_code_id, Mes.t(:step_code) %>
    <%= f.select :step_code_id, options_for_select(Mes::StepCode.pluck(:name, :id), @step_process_reject.step_code_id), { include_blank: true }, class: 'form-control' %>
  <% end %>

  <%= f.field_container :order_type, :class => ['form-group'] do %>
    <%= f.label :order_type_id, Mes.t(:order_type) %><br>
    <%= f.select :order_type_id, options_for_select(Mes::OrderType.pluck(:name, :id), @step_process_reject.order_type_id), { include_blank: true }, class: 'form-control' %>
  <% end %>

  <%= f.field_container :product, :class => ['form-group'] do %>
    <%= f.label :product_id, Mes.t(:product) %>
    <%= f.select :product_id, options_for_select(Mes::Product.pluck(:product_code, :id), @step_process_reject.product_id), { include_blank: true }, class: 'form-control' %>
  <% end %>
</div>
