<div data-hook="modeler_reject_code_form_fields">
  <%= f.field_container :reject_code, :class => ['form-group'] do %>
    <%= f.label :reject_code, Mes.t(:reject_code) %>
    <%= f.text_field :reject_code, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :reject_type, :class => ['form-group'] do %>
    <%= f.label :reject_type, Mes.t(:reject_type) %>
    <%= f.text_field :reject_type, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :sap_location, :class => ['form-group'] do %>
    <%= f.label :sap_location, Mes.t(:sap_location) %><br>
    <%= f.text_field :sap_location, :class => 'form-control' %>
  <% end %>
</div>
